img{
	max-width: 100%;
	object-fit: contain;
	border-radius: 0.25rem;
}

.content-container{
	min-height: 90vh;
	padding-bottom: 1rem;
}

.container-30-40-30{
	display: grid;
	grid-template-columns: 30% 40% 30%;
	place-items: center;
	grid-template-areas: '. content .';
}

.container-50-50{
	display: grid;
	grid-template-columns: 50% 50%;
	place-items: center;
	grid-template-areas: 'left right';
	padding: 0 1rem;
}

.title{
	font-family: 'LeagueSpartan';
	font-size: 12rem;
	background: linear-gradient(to right, #5b00ff, #ff6400);
	background-clip: text;
	-webkit-background-clip: text;  
  	-webkit-text-fill-color: transparent;
}

.sub-title{
	font-family: 'LeagueSpartan';
	font-size: 4rem;
	background: linear-gradient(to right, #5b00ff, #ff6400);
	background-clip: text;
	-webkit-background-clip: text;  
  	-webkit-text-fill-color: transparent;
}

.display-box {
	display: flex;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	color: ghostwhite;
	border-radius: .25rem;
	padding: 1rem;
	margin: 0.5rem;
}

a {
	color: ghostwhite
}